//Colors
$off-black : #20222b;
$off-white : #a5afd7;
$blue : #20048b;
$light-blue : #373a5e;
$dark-blue : #061645;
$purple : #8357c5;

//Spacing
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 2.0rem;
$vl-size : 2.8rem;
$xl-size : 3.6rem;
$desktop-breakpoint: 45rem;

//Containers Height
$vs-height : 3.6rem;
$s-height : 6rem;
$m-height : 12rem;
$l-height : 16rem;
$vl-height : 20rem;
$el-height : 24rem;
